<p></p>

<p *ngIf="!dipendenti"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<h1 id="tableLabel">Gestione dipendenti</h1>
<div *ngIf="dipendenti">
  <button mat-icon-button (click)="openModal()">
    <mat-icon>add</mat-icon>
  </button>
  <!--
    <tabella-dipendenti [dipendenti]="dipendenti">
  -->
  <tabella-dipendenti [dipendenti]="dipendenti" (emitDipendente)="onEmitUpdate($event)">

  </tabella-dipendenti>
</div>
<!--
  <pre>{{dipendenti | json}}</pre>
-->
